<html>
    <head>
        <title>Artur's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Artur's blog</a></h1>
        </div>

        <div>
            <p>published: 22.07.2023, 23:59</p>
            <h2><a href="">My first post</a></h2>
            <h3>It's my first time wrote blog</h3>
        <h4>Don't know what to say here. Just putting some text</h4>
        <p>What's up! I'm Artur. I graduated from Moscow State University.
    And I realised, that actually I don't like my profession</p>
        <p>That's why I'm here and You see this "site"</p>
        </div>

        <div>
            <p>published: 23.07.2023, 0:01</p>
            <h2><a href="">My second post</a></h2>
            <p>It's second post, where I want to say that there's
            sense that I'm broke a bit. Smth went wrong in my life.
            I almost don't know what to do here. Ok, bye! See ya!</p>
        </div>
    </body>
</html>